@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.title{
    font-size: 2rem;
    color:  #4070F4;
    margin-top: 25px;
    text-align: center;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #EFEFEF;
  padding-top: 80px;
}

header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #fffdfd;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  padding: 0px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header .logo{
  font-weight: bolder;
  font-size: 1rem;
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  max-height: 100%;
  line-height: 1;
}

header .logo img {
  max-height: 75px;
  width: auto;
  height: auto;
}

.navbar{
  margin-right: 0px;
}

.logout-form{
  margin-left: 1150px;
}

.logout-button{
  background-color: #FF4C4C;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.logout-button:hover{
  background-color: #e30909;
}

.overlay{
  display: none;
  position: fixed;
  top: 0;
  
}

input{
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #FF4C4C;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}