@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.title{
    max-width: 600px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color:  #4070F4;
    margin-top: -5px;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
  padding: 75px;
}

header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #fffdfd;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
}

header .logo{
  font-weight: bolder;
  font-size: 1rem;
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  max-height: 100%;
  line-height: 1;
}

header .logo img {
  max-height: 75px;
  width: auto;
  height: auto;
}

.navbar{
  margin-right: 950px;
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
  position: relative;
  float: left;
  text-decoration: none;
}

header .navbar ul li a{
  font-size: 12px;
  padding: 13px;
  color: #4070F4;
  display: block;
  text-decoration: none;
}

header .navbar ul li a:hover{
  background: rgb(188, 191, 209);
  color: #fff;
}

header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 250px;
  background: #fff;
  display: none;
}

header .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid #4070F4;
}

header .navbar ul li ul li ul{
  left: 250px;
  top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
}

.logout-form{
  margin-left: 1070px;
}

.logout-button{
  background-color: #FF4C4C;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.logout-button:hover{
  background-color: #e30909;
}

.audit-log{
  width: 90%;
  max-width: 900px;
  margin: 100px auto 0;
  padding: 10px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.audit-log h3 {
  font-size: 1.5rem;
  color: #4070F4;
  margin-bottom: 15px;
  text-align: center;
}

.audit-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.audit-table th,
.audit-table td{
  padding: 12px;
  text-align: center;
  border: 1px solid white;
}

.audit-table th{
  background-color: white;
  color: #4070F4;
}

.audit-table tr:nth-child(even){
  background-color: wheat;
}

.audit-table tr:hover {
  background-color: #f1f1f1;
}
