<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Attendance Dashboard</title>
    <link rel = "icon" type = "image/x-icon" href = "">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/edit_attndnc_style.css') }}">
                                    
</head>

<body>
    <div class = "container">
        <h2 class = "title">Attendance Register</h2>
        <table class = "attendance-register" id = "attendanceRegister" style = "display: none;">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Present</th>
                    <th>Absent</th>
                </tr>
            </thead>
            <tbody id = "studentList"></tbody>
        </table>

        <div class = "btn-group">
            <button class = "btn btn-class" id = "classButton">Load Class</button>
            <button class = "btn btn-submit" id = "submitButton" style = "display: none;" disabled>Submit Attendance</button>
        </div>
    </div>

<header>
    <div class = "logo">
        <img src = "{{ url_for('static', filename = 'logo-.png') }}" alt="school-logo">
    </div>
    <nav class="navbar">
        <form action = "{{ url_for('back_teacher') }}" method = "" class = "back">
            <button type = "submit" class = "back-button">Back</button>
        </form>
    </nav>
</header>

<script src = "{{ url_for('static', filename = 'js/edit_attndnc.js') }}"></script>
</body>
</html>