<!DOCTYPE html>
    
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Attendance Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
                                        
    </head>
    <body>
        <h2 class="title">Principal Dashboard</h2>
        <section class="audit-log">
            <h3>Student Audit</h3>
            {% if audit_logs %}
            <table class="audit-table">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Operation</th>
                        <th>Timestamp</th>
                        <th>Changed By</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in audit_logs %}
                    <tr>
                        <td>{{ log.student_id }}</td>
                        <td>{{ log.operation }}</td>
                        <td>{{ log.changed_at }}</td>
                        <td>{{ log.changed_by }}</td>
                    </tr>
                    {% endfor %}                    
                </tbody>
            </table>
            {% else %} 
                <p>No audit logs found.</p>
            {% endif %}             
        </section>
    </body>

<header>
    <div class = "logo">
        <img src="{{ url_for('static', filename = 'logo-.png') }}" alt="school-logo">
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index_principal') }}"">Home</a></li>
            <li><a href="#">Features</a>
                <ul>
                    <li>
                        <a href="{{ url_for('index_edit_registry') }}">Edit/Remove student</a>
                        <a href="{{ url_for('index_view_atten') }}">View attendance history</a>
                        <a href="{{ url_for('index_gen_monthly_rep') }}">Generate Monthly Report</a>
                        <a href="{{ url_for('index_edit_access_con') }}">Edit Access Control</a> 
                    </li>
                </ul>
            </li>
        </ul>
        <form action = "{{ url_for('logout') }}" class = "logout-form">
            <button type = "submit" class = "logout-button">Logout</button>
        </form>
    </nav>
</header>

</html>