<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Student</title>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/edit_style.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename = 'logo-.png') }}" alt="school-logo">
        </div>
        <nav class="navbar">
            <form action = "{{ url_for('index_edit_registry') }}" method = "POST" class = "back">
                <button type = "submit" class = "back-button">Back</button>
            </form>
        </nav>
    </header>

    <div class="select-container">
        <h2 class="title">Remove Student</h2>
        <form id="studentForm" action="{{url_for('remove_student_update') }}" method="POST">
            <input type="text" id="student_id" name="student_id" placeholder="Student ID Number" class="search-field" required>
            <button type="submit">Submit</button>
        </form>
        <div id="resultMessage"></div>
    </div>
</body>

</html>