<!DOCTYPE html>    
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Dashboard | St. George's College</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>

<body>
    <header class="primary-header">
        <div class="header-content">
            <a href="#" class = "brand">
                <img src = "{{ url_for('static', filename = 'logo-.png') }}" alt="school-logo" class="logo">
            </a>

            <nav class="primary-nav">
                <ul class="nav-list" role="list">
                    <li><a href="{{ url_for('index_teach') }}" class="nav-link">Home</a></li>
                    <li class="dropdown">
                        <button class="nav-link dropdown-toggle" aria-expanded="false">Features</button>
                        <ul class="dropdown-menu" role="list">
                            <li><a href="{{ url_for('index_edit_atten') }}" class="dropdown-link">Edit student attendance</a></li>
                            <li><a href="{{ url_for('index_view_atten') }}" class="dropdown-link">View attendance history</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <form action = "{{ url_for('logout') }}" class = "logout-wrapper">
                <button type = "submit" class = "btn btn-logout">Logout</button>
            </form>
        </div>
    </header>

    <main class="main-content scrollable-content">
        <div class="container">
            <h1 class="page-title">Teacher Dashboard</h1>

            <div class="dashboard-container">
                <div class="metric-card">
                    <h3>Total Students</h3>
                    <div class="metric-value">{{ "{:,}".format(tot_stdnts) }}</div>
                    <!div class="metric-change positive"></!div>
                </div>
                <div class="metric-card">
                    <h3>Attendance Rate</h3>
                    <div class="metric-value">{{ atten_rate }}</div>
                    <!div class="metric-change positive"></!div>
                </div>
                <div class="metric-card">
                    <h3>Total Late/Absences</h3>
                    <div class="metric-value">{{ totLate_Absent }}</div>
                    <!div class="metric-change positive"></!div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>