<!DOCTYPE html>
    
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Attendance Dashboard</title>
        <link rel="icon" type="image/x-icon" href="">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/view_attend_style.css') }}">
                                        
    </head>
    <body>
        <header>
            <div class = "logo">
                <img src = "{{ url_for('static', filename = 'images/logo-.png') }}" alt="school-logo" class="logo">
            </div>
            <nav class="navbar">
                <form action = "{{ url_for('back_view_atten') }}" method = "" class = "back">
                    <button type = "submit" class = "back-button">Back</button>
                </form>
            </nav>
        </header>

        <main>
            <h2 class="title">View Attendance History</h2>
            <div class="filter-section">
                <div class="form-row">
                  <div class="form-group">
                    <label for="stdname">Student Name:</label>
                    <input type="text" id="stdname" placeholder="Enter Student's Name">
                  </div>
                  <div class="form-group">
                    <label for="stdid">Student ID:</label>
                    <input type="text" id="stdid" placeholder="Enter Student's ID">
                  </div>
                </div>
              
                <div class="form-row">
                  <div class="form-group">
                    <label for="start-date">Start Date:</label>
                    <input type="date" id="start-date">
                  </div>
                  <div class="form-group">
                    <label for="end-date">End Date:</label>
                    <input type="date" id="end-date">
                  </div>
                </div>
              
                <button type = "submit" id="fetch-data">Fetch Attendance</button>
              </div>

            <div class="result-section">
                <h3>Attendance Data</h3>
                <table id="attendance-table">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </main>
    <script src="{{ url_for('static', filename = 'js/view_attend.js') }}"></script>   
    </body>


</html>